/*head*/
*{list-style-type: none;}
#banner{
	background-image: url(../images/top.jpg);
	background-position: center;
	height: 335px;
	width: 1300px;
	background-repeat: no-repeat;
	float: left;
	margin-left: 99px; 
}
.nav_content{
	background-color:#FFA500;
	float: left;
	margin-left: 257px;
	background-position: center;
	width: 986px;
	font-weight: bold;
}
.lianjie{
	color: white;
}
.lianjie a{
	text-decoration: none;
	color: white;
	margin: 40px;
}
a:hover{text-decoration: underline;}
.search{
	margin-right: 50px;
	float: right;
}
#content{
	border: 2px solid #FF9900;
	float: left;
	margin-left: 257px;
	width: 983px;
	height: 3420px;
}
a{
	text-decoration: none;}

/*content*/
#shouye a{
	font:20px "宋体";
	color: black;
}
.bt1{
	text-align: center;
}
.p1 p{
	text-indent: 2em;
}
.p1 img{
	width: 600px;
	height: 400px;
	padding-left: 200px;
}


/*footer*/
#foot{
	height: 105px;
	width: 1350px;
	clear: both;}
#foot li{
		list-style: none;
		float: left;
		color: brown;
		font-weight: bolder;
		text-indent: 1em;
		padding-top: 20px;
		position: relative;
		left: 380px;
}
#foot a{color: brown;}

#xian{position: relative;
	right: 180px;
	top: 33px;
}
#hhh{color: brown;
	padding-left: 470px;
	padding-top: 30px;
}
